
.footer {
  width: 100%;
  text-align: center;
  display:flex;
  justify-content: center;
  vertical-align: bottom;
  margin-top: 79px;
  p {
    margin-right: 18px;
    margin-left: 18px;
    color: #465274;
  }
}
