<div class="container">
  <div class="row justify-content-end">
    <button type="button" (click)="addNew()" class="btn btn-primary BotonA">
      Añadir nuevo
    </button>

    <button
      type="button"

      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      Cerrar sesion
    </button>

    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cerrar sesión</h5>
            <button type="button"class="btn-close"data-bs-dismiss="modal"aria-label="Close"></button>
          </div>
          <div class="modal-body">¿Estas seguro de querer cerrar sesión?</div>
          <div class="modal-footer">
            <button type="button"class="btn btn-secondary"data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="logOut()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Profesion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personajes">
        <td><img src="{{ item.photo }}" /></td>
        <td>{{ item.name }}</td>
        <td>{{item.surname}}</td>
        <td>{{ item.profession }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="editPerson(item._id)"
          >
            Editar
          </button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-danger">Eliminar</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Vas a eliminar a este personaje</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estas seguro de querer eliminar a este personaje? Se eliminará de la base de datos y no se podrá recuperar.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="deletePerson(item._id)">Sí, quiero eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
