@import "../../styles.scss";

.homePage {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 985px;
    display: flex;
    .leftItem {
      width: 45%;
      padding-right: 15%;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-family: "Roboto";
        font-size: 50px;
        font-weight: 700;
        text-align: left;
        padding-bottom: 110px;
        span {
          color: $colorYellow;
        }
      }
      .search {
        width: 642px;
        height: 75px;
        z-index: 1;
        display: flex;
        background-color: #ffffff;
        box-shadow: 0px 5px 15px 0px #67638b15;
        border-radius: 19px;
        border: none;
        color: #6f6e6eb8;
        input {
          border: none;
          margin-left: 36px;
          text-align: left;
          font-family: "Roboto";
          font-weight: 400;
          font-size: 18px;
          background-color: #ffffff;
          &:focus {
            box-shadow: none;
          }
        }
        ::placeholder {
          color: #6f6e6e9c;
        }
        button {
          z-index: 2;
          background-color: $colorYellow;
          box-shadow: 0px 2px 15px 0px $colorShadow;
          border: none;
          border-radius: 15px;
          width: 75px;
          height: 61px;
          align-self: center;
          margin-right: 13px;
          i {
            z-index: 3;
            size: 25px;
            font-weight: 400;
            font-family: "SFPro";
          }
        }
      }
    }
    .rightItem {
      width: 55%;
      height: 600px;
      background-image: url('../../assets/img/ada-lovelace.jpeg') ;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 25px;
      img {
        height: 635px;
        width: 635px;
      }
    }
  }
}
