<div class="homePage">
  <div class="container">
    <div class="leftItem">
      <h1>Descubre perfiles de <span>famosos</span></h1>
      <div class="search">
        <input #name class="form-control" type="search" (keydown.enter)="search(name.value)" placeholder="Busca por nombre o apellido">
        <button class="btn btn-lg btn-success" (click)="search(name.value)" type="submit"><fa-icon [icon]="fasearch"></fa-icon></button>
      </div>
    </div>
    <div class="rightItem">
      <img src="../../assets/img/main.png" alt="Bill Gates" />
    </div>
  </div>
</div>
