
<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="updatePersonaje()" class="row g-2 needs-validation">
  <div class="mb-3">
    <label for="FormControlInput0" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="FormControlInput0" [(ngModel)]= 'person.name' formControlName="name" [ngClass]="{'is-invalid': isSend && f.name.errors}" value ="">
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <div class="mb-3">
    <label for="FormControlInput1" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="FormControlInput1" [(ngModel)]= 'person.surname'formControlName="surname" [ngClass]="{'is-invalid': isSend && f.surname.errors}">
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <div class="mb-3">
    <label for="FormControlInput2" class="form-label">Fecha de nacimiento</label>
    <input type="date" moment-picker format="yyyy-MM-dd" class="form-control" formControlName="birthDate" ng-bind='person.birthDate' [ngClass]="{'is-invalid': isSend && f.birthDate.errors}" id="FormControlInput2" value="{{person.birthDate | date:'yyyy-MM-dd'}}">
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <div class="mb-3">
    <label for="FormControlInput3" class="form-label">Foto</label>
    <input type="text" class="form-control" formControlName="photo" [(ngModel)]= 'person.photo' [ngClass]="{'is-invalid': isSend && f.photo.errors}" id="FormControlInput3" placeholder="https://...." >
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <div class="mb-3">
    <label for="FormControlInput4" class="form-label">Profesion</label>
    <input type="text" class="form-control" formControlName="profession" [(ngModel)]= 'person.profession'[ngClass]="{'is-invalid': isSend && f.profession.errors}" id="FormControlInput4" >
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <div class="mb-3">
    <label for="FormControlTextarea1" class="form-label">Bio</label>
    <textarea class="form-control" formControlName="bio" [(ngModel)]= 'person.bio'[ngClass]="{'is-invalid': isSend && f.bio.errors}"id="FormControlTextarea1" rows="3"></textarea>
    <div class="invalid-feedback">
      Introduce un nombre válido
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Guardar</button>
</form>
</div>

