
<div class="container">
  <div class="mb-3">
    <label for="FormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="FormControlInput1" >
  </div>
  <div class="mb-3">
    <label for="FormControlInput2" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="FormControlInput2" >
  </div>
  <div class="mb-3">
    <label for="FormControlInput3" class="form-label">Foto</label>
    <input type="text" class="form-control" id="FormControlInput3" placeholder="https://...." >
  </div>
  <div class="mb-3">
    <label for="FormControlInput4" class="form-label">Profesion</label>
    <input type="text" class="form-control" id="FormControlInput4" >
  </div>
  <div class="mb-3">
    <label for="FormControlTextarea1" class="form-label">Bio</label>
    <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Guardar</button>

</div>

