@import "../../styles.scss";

.box{
  width: 100%;
  display: flex;
  justify-content: center;
  .searchFilter{
    width: 985px;
    display: flex;
    padding: 15px;
    .card{
      width: 277px;
      margin: 20px;
      display: block;
      padding: 0px;
      .img{
        width: 300px;
        height: 228px;
        margin:-15px -15px 0px -15px;
        overflow: hidden;
        z-index: 1;
        img{
          max-width: 100%;
        }
      }
      .card-body{
        height:136px;
        padding: 10px;
      }
    }
  }
}
.sections{
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-bottom: 44px;
  box-shadow: 0px 2px 15px 0px #00000019;;
  .Filter{
    height:132px;
    width: 985px;
    display: flex;
    justify-content: center;
    .main-row{
      height:132px;
      .left{
        margin-right: 10px;
        input{
          border-radius: 13px;
          border:none;
          outline: none;
          background-color: #67638b1c;
          &:focus {
            box-shadow: none;
            outline: none;
            border:none;
          }
        }

      }
      .first-row{
        height: 19px;
        margin-top: 24px;
        color: #00000035;
      }
      .second-row{
        height: 59px;
        width: 345px;
        margin-top: 5px;
        .picker{
          height: 59px;
          border-radius: 13px;
          background-color: #67638b1c;
          input{
            &:focus {
              box-shadow: none;
              outline: none;
            }
        }
        }
      }
    }
  }
}

