<div class="sections">
  <div class="Filter">
    <div class="row main-row">
      <div class="col left">
        <div class="row first-row">
          <p>Busca por nombre y apellido</p>
        </div>
        <div class="row second-row">
          <input type="text" class="form-control"  name="filterPost" placeholder="Bill Gates" [(ngModel)]='filterPost'>
        </div>
      </div>
      <div class="col right">
        <div class="row first-row">
          <p>Fecha de nacimiento</p>
        </div>
        <div class="row second-row">
          <mat-form-field  class="picker">
            <mat-label></mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Fecha inicio" name="filterDate" [(ngModel)]='filterDate'>
              <input matEndDate placeholder="Fecha fin">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box">

  <div class="searchFilter">
    <div class="row row-cols-md-3 g-4">
      <div class="card" *ngFor="let post of posts | filter:filterPost">
        <div class="img card-img-top">
          <img src="{{ post.imgUrl }}" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.date }}</p>
          <a class="btn" href="">{{ post.profession }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
