<div class="menuPrincipal" [ngClass]="{'white':bgWhite, 'visible':visible}">
  <div class="row">
    <div class="leftPart">
      <img src="../../assets/img/thepeople.svg" alt="logo" />
    </div>
    <div class="rightPart">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      <a routerLink="/search" routerLinkActive="active">Búsqueda</a>
      <button type="button" routerLink="dashboard" routerLinkActive="active"class="btn btn-success">Subir nuevo</button>
    </div>
  </div>
</div>
