.menuPrincipal{
  width: 100%;
  display: flex;
  justify-content: center;
  .row {
    width:985px;
    display: flex;
    padding-top: 13px;
    margin-top: 13px;
    margin-bottom: 66px;
    .leftPart {
      width: 40%;
      align-self: center;
      text-align: left;
      img{
        height: 23px;
        width: auto;
      }
    }
    .rightPart {
      width: 60%;
      text-align: right;
      font-family: "Roboto";
      a {
        display: inline;
        margin-right: 18px;
        margin-left: 18px;
        color: #00000035;
        text-decoration: none;
        &:hover{
          color:#000000e9;
          font-weight: 500;
        }
      }
      a.active{
        color:#000000e9;
        font-weight: 500;
      }
      button{
        background-color: #FFB500;
        box-shadow:0px 5px 15px 0px #ffa20064 ;
        border-radius: 15px;
        border: none;
        height: 50px;
        width: 137px;
        margin-left: 18px;
        &:hover{
          color:#292929e9;
          background-color: #ffa200;
        }
      }
    }
  }
}

.menuPrincipal.white{
  background-color: white;
}
