.sections {
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: 1px;
  margin-bottom: 44px;
  box-shadow: 0px 2px 3px 0px #00000019;
  .Filter {
    height: 132px;
    width: 985px;
    display: flex;
    justify-content: center;
    .main-row {
      height: 132px;
      .left {
        margin-right: 10px;
        mat-form-field {
          height: 59px;
          border-radius: 13px;
          background-color: #67638b1c;
          .mat-form-field-flex {
            height: 59px;
            input {
              height: 59px;
              border-radius: 13px;
              border: none;
              outline: none;
              background-color: #67638b1c;
              &:focus {
                box-shadow: none;
                outline: none;
                border: none;
              }
            }
          }
        }
      }
      .first-row {
        height: 19px;
        margin-top: 24px;
        color: #0000003f;
      }
      .second-row {
        height: 59px;
        width: 345px;
        margin-top: 5px;
        .picker {
          height: 59px;
          border-radius: 13px;
          background-color: #67638b1c;
          input {
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}

.box-card {
  padding: 10px;
  display: flow-root;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  min-height: 400px;
  &:hover {
    padding-top: 5px;
    .box-data {
      box-shadow: 0px 2px 18px rgba(73, 73, 98, 0.4);
      h2 {
        color: #ffb500;
      }
    }
    .box-img {
      margin-bottom: -21px;
    }
  }
  .box-data {
    transition: all 0.3s ease;
    background: #ffffff;
    box-shadow: 0px 2px 18px rgba(73, 73, 98, 0.170325);
    border-radius: 8px;
    padding: 15px;
    margin: 0 10px;
    min-height: 200px;
    h2 {
      transition: all 0.3s ease;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-top: 20px;
    }
    .date {
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    .ptag {
      background: #000000;
      border-radius: 18.5px;
      color: white;
      padding: 5px 13px;
      display: inline-block;
      margin: 0;
      font-size: 14px;
    }
  }
  .box-img {
    transition: all 0.2s ease;
    background-position: center center;
    background-size: cover;
    height: 200px;
    border-radius: 8px;
    position: relative;
    margin-bottom: -16px;
  }
}
