<div class="login-box">
  <div class="form-signin">
    <img class="mb-4" src="../../assets/img/thepeople.svg" alt="">
    <form [formGroup]="mForm" (ngSubmit)="onSave()" class="row g-2 needs-validation" novalidate>


          <div class="form-floating">
              <input type="text" class="form-control" id="floatingName" formControlName="name" [ngClass]="{'is-invalid': isSend && f.name.errors}"placeholder="Nombre de usuario">
              <label for="floatingInput">Nombre</label>
              <div class="invalid-feedback">
                Introduce un nombre válido
              </div>
          </div>
          <div class="form-floating mt-2">
              <input type="email" class="form-control" id="floatingEmail" formControlName="email" [ngClass]="{'is-invalid': isSend && f.email.errors}"  placeholder="Correo electrónico">
              <label for="floatingInput">Email</label>
              <div class="invalid-feedback">
                Introduce un email válido
              </div>
          </div>
          <div class="form-floating mt-2">
              <input type="password" class="form-control" id="floatingPassword" formControlName="password" [ngClass]="{'is-invalid': isSend && f.password.errors}" placeholder="Contraseña">
              <label for="floatingPassword">Contraseña</label>
              <div class="invalid-feedback">
                Introduce una contraseña válida
              </div>
          </div>
          <div class="form-floating mt-2">
            <input type="password" class="form-control" id="floatingPasswordRepeat" formControlName="passwordRepeat" [ngClass]="{'is-invalid': isSend && f.passwordRepeat.errors}" placeholder="Repite contraseña">
            <label for="floatingPassword">Repite la contraseña</label>
            <div class="invalid-feedback">
              La contraseña no coincide
            </div>
        </div>
          <br>
          <button class="w-100 btn btn-lg btn-primary Submit" type="submit">Registrarme</button>
      </form>

      <button (click)="login()" class="w-100 btn btn-lg btn-link mt-3" type="submit">Ya tengo cuenta</button>
  </div>
</div>
